{{ ansible_managed | comment }}
# This is the sshd server system-wide configuration file.
# See sshd_config(5) for more information.

#======================================= SERVER OPTIONS ========================================

Protocol 2

Port {{ openssh_sshd_port }}
AddressFamily {{ openssh_sshd_address_family }}
{% for address in openssh_sshd_listen_addresses %}
ListenAddress {{ address }}
{% endfor %}

{% for host_key in openssh_sshd_host_keys %}
HostKey {{ openssh_sshd_host_keys_dir }}{{ host_key }}
{% endfor %}

#========================================== LOGGING ============================================

SyslogFacility {{ openssh_sshd_syslog_facility }}
LogLevel {{ openssh_sshd_log_level }}

#======================================= AUTHENTICATION ========================================

LoginGraceTime {{ openssh_sshd_login_grace_time }}
MaxAuthTries {{ openssh_sshd_max_auth_tries }}
MaxSessions {{ openssh_sshd_max_sessions }}
MaxStartups {{ openssh_sshd_max_startups }}

PubkeyAuthentication yes
AuthorizedKeysFile {{ openssh_sshd_authorized_keys_file }}

PasswordAuthentication {{ 'yes' if (openssh_sshd_password_authentication | bool) else 'no' }}
PermitEmptyPasswords no

# Change to no to disable s/key passwords
ChallengeResponseAuthentication no

# Never use host-based authentication. It can be exploited.
HostbasedAuthentication no
IgnoreUserKnownHosts yes
IgnoreRhosts yes

KerberosAuthentication {{ 'yes' if (openssh_sshd_kerberos_authentication | bool) else 'no' }}
KerberosTicketCleanup {{ 'yes' if (openssh_sshd_kerberos_ticket_cleanup | bool) else 'no' }}
#KerberosOrLocalPasswd yes
#KerberosGetAFSToken no
#KerberosUseKuserok yes

GSSAPIAuthentication {{ 'yes' if (openssh_sshd_gssapi_authentication | bool) else 'no' }}
GSSAPICleanupCredentials {{ 'yes' if (openssh_sshd_gssapi_cleanup_credentials | bool) else 'no' }}
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no
#GSSAPIEnablek5users no

UsePAM yes
StrictModes {{ 'yes' if (openssh_sshd_strict_modes | bool) else 'no' }}

PermitRootLogin {{ 'yes' if (openssh_sshd_permit_root_login | bool) else 'no' }}

#UseLogin no

#========================================== NETWORK ============================================

TCPKeepAlive {{ 'yes' if (openssh_sshd_tcp_keep_alive | bool) else 'no' }}
ClientAliveInterval {{ openssh_sshd_client_alive_interval }}
ClientAliveCountMax {{ openssh_sshd_client_alive_count_max }}

AllowAgentForwarding yes
AllowTcpForwarding yes

GatewayPorts no

X11Forwarding {{ 'yes' if (openssh_sshd_x11_forwarding | bool) else 'no' }}
#X11DisplayOffset 10
#X11UseLocalhost yes

PermitTunnel no

#======================================== ENVIRONMENT ==========================================

PermitUserEnvironment no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

#=========================================== MISC ==============================================

# It is recommended to use pam_motd in /etc/pam.d/sshd instead of PrintMotd,
# as it is more configurable and versatile than the built-in version.
PrintMotd no

PermitTTY yes
PrintLastLog yes
Compression delayed
#PidFile /var/run/sshd.pid
#ChrootDirectory none

UseDNS {{ 'yes' if (openssh_sshd_use_dns | bool) else 'no' }}

# no default banner path
#Banner none
#VersionAddendum none

# override default of no subsystems
{% for key, value in openssh_sshd_subsystems.items() %}
Subsystem	{{ key }}	{{ value }}
{% endfor %}

{% for match in openssh_sshd_match %}
Match {{ match.type }} {{ match.name }}
{% for key, value in match.config.items() %}
    {{ key }} {{ value }}
{% endfor %}
{% endfor %}